main {
  max-width: 900px;
  margin: auto;
  padding: 0 1rem 4rem;
}

.card {
  background: white;
  padding: 2.5rem;
  margin-bottom: 3rem;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.2rem;
}

/* VIDEO */
video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* KUVAGRIDI */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.image-grid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

figure {
  text-align: center;
}

figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}
